.DropDown {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: aliceblue;
  font-size: 14px;
  line-height: 14px;
  gap: 10px;
  margin-bottom: 25px;
}

.select {
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 40px;
}
