.ErrorPage {
  width: 100%;
  height: 100vh;
  font-size: var(--font-size-l);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--inverted-bg-color);
  color: var(--secondary-color);
}
